[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "nanxiaobei/hugo-paper"]
	path = nanxiaobei/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper
